<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Saiteja.png" >
        <p>Fetched geographic details latitude, longitude, and placename from the Geoapify API.</p>
        <p>Fetched the current weather forecast data from the Tomorrow.io API.</p>
    </div>
    {{>footer}}
</body>

</html>