<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>This is an Help document</p>    
        <p><a href="https://www.linkedin.com/in/saiteja-dubakunta-43278a21b/" target="_blank">Linkedin</a></p>
        <p> <a href="https://apiip.net/documentation" target="_blank">Geoapify API</a></p>
        <p> <a href="https://docs.tomorrow.io/reference/weather-forecast?_gl=1*8c6y9a*_gcl_au*MzI5NTY1NjIyLjE3NDQ3NzM4NzA." target="_blank"> Tomorrow.io API </a></p>
    </div>
    
    {{>footer}}
</body>

</html>